# ---------------------------------------------------------
# Django Settings
# ---------------------------------------------------------
DJANGO_SECRET_KEY='your-secure-random-string'

# Set to False in Production
DJANGO_DEBUG='True'

# ---------------------------------------------------------
# API CONFIGURATION
# ---------------------------------------------------------
# Note: The Open-Meteo API used in this application is public and does not require an API key. This variable is included to demonstrate standard environment variable management. If you had an API key for Open-Meteo or any other API service, you would set it here or better yet, set up secrets injection with a service like HashiCorp Vault.
OPEN_METEO_API_KEY='your-open-meteo-api-key-if-required'
OPEN_METEO_MARINE_API_KEY='your-open-meteo-marine-api-key-if-required'
# ---------------------------------------------------------